/*!
Theme Name: Retina Blog
Theme URI: https://thememattic.com/retina-blog
Author: Thememattic
Author URI: https://thememattic.com
Description: Retina Blog is a easy-to-use Modern Clean WordPress theme developed specifically for personal, streamlined blog websites. Retina Blog theme has a perfect combination of modern, classic and minimal styles which will help you create a simple, clean and elegant blog. The theme features different layouts with sidebar position and color selection which you can pick and choose with a mouse click, allowing you to customize your WordPress site you want. Retina Blog is a perfect choice for you to create an remarkable blog of any purpose. Check our Demo: https://demo.thememattic.com/retina-blog
Version: 1.0.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: retina-blog
Tags: blog, news, entertainment, one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-menu, featured-images, full-width-template, custom-header, translation-ready, theme-options, threaded-comments, footer-widgets

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Retina Blog is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
input { /* 1 */
    overflow: visible;
}

button,
select { /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 0;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: 0; /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.66;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

h1 {
    font-size: 2.4em;
}

h2 {
    color: #666;
    font-size: 1.8em;
}

h3 {
    color: #333;
    font-size: 1.2em;
}

h4 {
    color: #767676;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5 {
    color: #767676;
    font-size: .8em;
}

h6 {
    font-size: .7em;
}

p {
    margin: 0 0 1.6em;
}

p:last-child {
    margin-bottom: 0;
}

.entry-title {
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 300;
}

.entry-title a {
    color: #666;
}

.full-item-content .entry-title {
    font-size: 16px;
    font-weight: 400;
}

.page .entry-content,
.single .entry-content {
    font-size: 17px;
    font-weight: 300;
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    border-top: 4px solid currentColor;
    padding: 1em 0 0 2.5em;
    margin: 0 0 1.6em;
    position: relative;
}

blockquote:before {
    content: "\201C";
    position: absolute;
    left: 0;
    top: .06em;
    font-size: 3em;
    font-style: normal;
}

blockquote cite {
    display: block;
    margin-top: .8em;
    font-size: 14px;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-style: normal;
    color: #6f8590;
}

blockquote cite:before {
    content: '\2014';
    margin-right: .5rem;
}

address {
    margin: 0 0 1.6em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
}

hr {
    background-color: #eee;
    border: 0;
    height: 1px;
    margin: 1.5em auto;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 0 auto;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    border: 1px solid;
    border-color: #040404;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #040404;
    color: #fff;
    outline: 0;
    padding: .75rem 1.25rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    opacity: .8;
}

.button:hover {
    text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid rgba(38, 50, 56, 0.1);
    border-radius: 3px;
    outline: 0;
    padding: .6875rem 1rem;
    line-height: 1;
    font-size: 16px;
    font-size: 1rem;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

select {
    border: 1px solid rgba(38, 50, 56, 0.1);
    padding: .4rem .5rem;
}

textarea {
    width: 100%;
    line-height: inherit;
}

/*--------------------------------------------------------------
# Site Branding
--------------------------------------------------------------*/
.top-area {
    padding: 100px 0;
    position: relative;
}

.banner-overlay {
    position: absolute;
    background: #000;
    height: 100%;
    top: 0;
    filter: alpha(opacity=34);
    opacity: 0.34;
    width: 100%;
}

.top-area .wrapper {
    position: relative;
    z-index: 1;
}

.site-branding {
    color: #fff;
    text-align: center;
}

.site-title {
    font-size: 84px;
    font-size: 5.25rem;
    font-weight: 400;
    clear: none;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}

.site-branding .site-title a {
    color: #fff;
}

.site-description {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #040404;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #F44336;
    outline: 0;
    text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    border-bottom: 1px solid;
    border-top: 1px solid;
    text-align: center;
}

.main-navigation .toggle-menu {
    height: 60px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    margin-left: 80px;
    margin-right: 80px;
    display: none;
}

.ham {
    width: 23px;
    height: 2px;
    top: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.ham:before,
.ham:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.ham,
.ham:before,
.ham:after {
    background: #333;
}

.ham:before {
    top: -8px;
}

.ham:after {
    top: 8px;
}

.ham.exit {
    background-color: transparent;
}

.ham.exit:before {
    -webkit-transform: translateY(8px) rotateZ(-45deg);
    -moz-transform: translateY(8px) rotateZ(-45deg);
    -ms-transform: translateY(8px) rotateZ(-45deg);
    -o-transform: translateY(8px) rotateZ(-45deg);
    transform: translateY(8px) rotateZ(-45deg);
}

.ham.exit:after {
    -webkit-transform: translateY(-8px) rotateZ(45deg);
    -moz-transform: translateY(-8px) rotateZ(45deg);
    -ms-transform: translateY(-8px) rotateZ(45deg);
    -o-transform: translateY(-8px) rotateZ(45deg);
    transform: translateY(-8px) rotateZ(45deg);
}

.main-navigation .menu ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    vertical-align: top;
}

.main-navigation .menu ul li {
    position: relative;
    display: inline-block;
    float: none;
}

.main-navigation .menu ul li a {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-navigation .menu ul li i {
    padding-left: 10px;
    display: inline-block;
    line-height: 100%;
}

@media only screen and (min-width: 992px) {
    .main-navigation .menu ul > li > a {
        display: block;
        line-height: 72px;
        padding: 0 15px;
    }

    .main-navigation .menu ul > li.current-menu-item > a,
    .main-navigation .menu ul > li:hover > a,
    .main-navigation .menu ul > li:focus > a {
        color: #ff424e;
    }

    .main-navigation .menu ul ul li {
        width: 260px;
    }

    .main-navigation .menu ul ul a {
        color: #fff;
        display: block;
        padding: 12px 30px;
        line-height: inherit;
    }

    .main-navigation .menu ul ul a:hover,
    .main-navigation .menu ul ul a:focus {
        background: #212121;
        color: #fff;
    }

    .main-navigation .menu ul ul {
        background: #000;
        color: #fff;
        position: absolute;
        text-align: left;
        visibility: hidden;
        filter: alpha(opacity=0);
        opacity: 0;
        margin: 0 auto;
        padding: 0;
    }

    .main-navigation .menu li:hover > ul {
        visibility: visible;
        filter: alpha(opacity=1);
        opacity: 1;
        z-index: 999;
        -webkit-transition: opacity 0.4s, top 0.4s;
        -moz-transition: opacity 0.4s, top 0.4s;
        -ms-transition: opacity 0.4s, top 0.4s;
        -o-transition: opacity 0.4s, top 0.4s;
        transition: opacity 0.4s, top 0.4s;
    }

    .main-navigation .menu > ul > li > ul {
        top: 100%;
        left: 0;
    }

    .main-navigation .menu > ul > li:last-child > ul {
        left: auto;
        right: 0;
    }

    .main-navigation .menu ul ul ul {
        top: -20px;
        left: 100%;
    }

    .main-navigation .menu ul ul li:hover ul {
        top: 0;
    }
}

.main-navigation .menu .menu-mobile {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    text-align: left;
    position: relative;
    z-index: 9999;
    display: none;
}

.main-navigation .menu .menu-mobile li {
    display: block;
    border-top: 1px solid;
    float: none;
}

.main-navigation .menu .menu-mobile li a {
    line-height: 50px;
    display: block;
    position: relative;
    padding-left: 0;
    padding-right: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.main-navigation .menu .menu-mobile li a:hover {
    filter: alpha(opacity=70);
    opacity: .7;
}

.main-navigation .menu .menu-mobile li a i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    z-index: 1;
}

.main-navigation .menu .menu-mobile li a i.active:after {
    width: 13px;
    height: 1px;
}

.main-navigation .menu .menu-mobile li a i:before,
.main-navigation .menu .menu-mobile li a i:after {
    content: '';
    width: 13px;
    height: 1px;
    background-color: #333;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-navigation .menu .menu-mobile li a i:after {
    width: 1px;
    height: 13px;
}

.main-navigation .menu .menu-mobile li .sub-menu,
.main-navigation .menu .menu-mobile li .children {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid;
    display: none;
}

.main-navigation .menu .menu-mobile li .sub-menu > li a,
.main-navigation .menu .menu-mobile li .children > li a {
    margin-left: 15px;
}

.main-navigation .menu .menu-mobile li .sub-menu > li:first-child,
.main-navigation .menu .menu-mobile li .children > li:first-child {
    border-top: 0;
}

.posts-navigation,
.post-navigation {
    border-bottom: 4px double;
    border-top: 4px double;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    text-align: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.nav-links {
    text-align: center;
}

.nav-links .page-numbers {
    display: inline-block;
    min-width: 50px;
    height: 40px;
    line-height: 40px;
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-links .page-numbers.current,
.nav-links .page-numbers:hover,
.nav-links .page-numbers:focus {
    background: #000;
    color: #fff;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.wrapper:before,
.wrapper:after,
.widget:before,
.widget:after,
.posts-navigation:before,
.posts-navigation:after,
.post-navigation:before,
.post-navigation:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.wrapper:after,
.widget:after,
.posts-navigation:after,
.post-navigation:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 2em;
}

.widget-title {
    font-size: 18px;
    line-height: 1.4;
    padding: 15px;
    margin: 0 auto 20px;
    position: relative;
    text-align: center;
}

.widget select {
    max-width: 100%;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li,
.widget ol li {
    border-bottom: 1px solid;
    padding: 0.7em 0;
}

.widget ul li:last-child,
.widget ol li:last-child {
    border: 0;
}

/* Tag cloud widget */

.widget_tag_cloud,
.widget_product_tag_cloud {
    margin-bottom: 4em;
    position: relative;
    z-index: 2;
}

.widget_tag_cloud .tagcloud,
.widget_product_tag_cloud .tagcloud {
    margin-bottom: 1.2em;
    *zoom: 1;
}

.widget_tag_cloud .tagcloud:before, .widget_tag_cloud .tagcloud:after,
.widget_product_tag_cloud .tagcloud:before,
.widget_product_tag_cloud .tagcloud:after {
    display: table;
    content: "";
}

.widget_tag_cloud .tagcloud:after,
.widget_product_tag_cloud .tagcloud:after {
    clear: both;
}

.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a {
    position: relative;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 100% !important;
    line-height: 1.3;
    margin: 0 12px 12px 0;
    padding: 10px 13px 4px 15px;
    padding: .84em 1em .84em 1.3em;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    -webkit-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover {
    background-color: #f5f4f0;
}

.widget_tag_cloud .tagcloud a::before,
.widget_product_tag_cloud .tagcloud a::before,
.widget_tag_cloud .tagcloud a::after,
.widget_product_tag_cloud .tagcloud a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #040404;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.widget_tag_cloud .tagcloud a:hover::before,
.widget_product_tag_cloud .tagcloud a:hover::before {
    margin-top: 4px;
    margin-left: -4px;
}

.widget_tag_cloud .tagcloud a:hover::after,
.widget_product_tag_cloud .tagcloud a:hover::after {
    margin-top: -4px;
    margin-left: 4px;
    z-index: -1;
}

.site-footer .widget_tag_cloud .tagcloud a:hover,
.site-footer .widget_product_tag_cloud .tagcloud a:focus {
    color: #333;
}

/* Calendar widget */

.widget_calendar th,
.widget_calendar td {
    text-align: center;
}

.widget_calendar tfoot td {
    border: 0;
}

.widget ul.nav-tabs {
    border: 0;
    position: relative;
    background: #2d2d2d;
}

.widget ul.nav-tabs li {
    border: 0;
    margin: 0 auto;
    padding: 0;
    display: block;
    float: left;
}

.widget ul.nav-tabs li .tab-trigger {
    cursor: pointer;
    display: block;
    word-wrap: break-word;
    padding: 15px 15px;
    text-align: center;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 0;
}

.widget ul.nav-tabs .tab.active .tab-trigger {
    background: #333;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site-content {
    padding-top: 2.5em;
}

.site.boxed-layout {
    margin-right: auto;
    margin-left: auto;
}

.site.boxed-layout .site-content,
.site.boxed-layout .wrapper {
    padding-left: 0;
    padding-right: 0;
}

.wrapper,
.site-content {
    padding-left: 40px;
    padding-right: 40px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .site.boxed-layout,
    .wrapper,
    .site-content {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .site.boxed-layout,
    .wrapper,
    .site-content {
        width: 970px;
    }

    .site-content {
        padding-top: 2.5em;
    }
}

@media (min-width: 1200px) {
    .site.boxed-layout,
    .wrapper,
    .site-content {
        width: 1170px;
    }
}

@media (max-width: 767px) {
    .site.boxed-layout,
    .wrapper,
    .site-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#primary,
#secondary {
    float: left;
}

#primary {
    width: 70%;
    padding-right: 10px;
}

#secondary {
    width: 30%;
    padding-left: 10px;
}

.no-sidebar #primary,
.no-sidebar #secondary {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 992px) {
    .right-sidebar #primary {
        padding-left: 0;
        padding-right: 10px;
    }

    .right-sidebar #secondary {
        padding-left: 10px;
        padding-right: 0;
    }

    .left-sidebar #primary {
        float: right;
        padding-left: 10px;
        padding-right: 0;
    }

    .left-sidebar #secondary {
        padding-right: 10px;
        padding-left: 0;
    }
}

.home .content-area .site-main,
.archive .content-area .site-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.home .content-area .site-main,
.archive .content-area .site-main {
    margin-left: -15px;
}

.home.no-sidebar .content-area .site-main,
.archive.no-sidebar .content-area .site-main {
    margin-right: -15px;
}

.home .content-area .site-main article,
.archive .content-area .site-main article {
    position: relative;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
    padding: 0 15px;
}

.home .content-area .site-main article:first-child,
.archive .content-area .site-main article:first-child {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
}

.home .site.boxed-layout .content-area .site-main article:first-child .entry-header,
.home .site.boxed-layout .content-area .site-main article:first-child .entry-content,
.archive .site.boxed-layout .content-area .site-main article:first-child .entry-header,
.archive .site.boxed-layout .content-area .site-main article:first-child .entry-content {
    padding-left: 40px;
    padding-right: 40px;
}

.home.no-sidebar .content-area .site-main article:first-child .post-thumbnail,
.archive.no-sidebar .content-area .site-main article:first-child .post-thumbnail {
    text-align: center;
    padding-top: 30px;
}

@media only screen and (max-width: 1199px) {
    .home.no-sidebar .content-area .site-main article:first-child .post-thumbnail,
    .archive.no-sidebar .content-area .site-main article:first-child .post-thumbnail {
        padding-top: 0;
    }
}

.bg-image,
.data-bg {
    width: 100%;
    display: block;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.data-bg-slide {
    height: 540px;
    margin-bottom: 150px;

}

.bg-image,
.data-bg {
    background: #000;
}

.main-banner {
    margin-top: 2.5em;
}

.main-banner.main-banner-fullwidth {
    margin-top: 0;
}

.main-banner-fullwidth .wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.slider-figcaption-main {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 0 80px 70px;
    width: 100%;
    transition: 500ms ease-in-out;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -ms-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
}

.slide-title {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 4px;
    margin: 0 auto 15px;
    padding-top: 15px;
    text-transform: uppercase;
}

.slide-title a {
    color: #6f6f6f;
}

.slider-wrapper {
    background: #fff;
    padding: 40px 20px;
    text-align: center;
}

.site-content .search-form label,
.site-footer .search-form label {
    display: block;
    width: 70%;
    float: left;
}

.site-content .search-form label .search-field,
.site-footer .search-form label .search-field {
    padding-left: 15px;
    width: 100%;
}

.site-content .search-form .search-submit,
.site-footer .search-form .search-submit {
    width: 30%;
    text-transform: uppercase;
}

.search-form label .search-field {
    height: 45px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.search-form .search-submit {
    border: 0;
    color: #fff;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
.preloader {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999999;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transform: all 0.7s ease;
    transition: all 0.7s ease;
}

.page-loaded .preloader {
    transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.loader {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    text-align: center;
    z-index: 100001;
}

.pulse {
    height: 100px;
    width: 200px;
    overflow: hidden;
    margin: auto;
}

.pulse:after {
    content: '';
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="#F44336" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: 2s pulse linear infinite;
    -moz-animation: 2s pulse linear infinite;
    -o-animation: 2s pulse linear infinite;
    animation: 2s pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
}

.pulse:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    right: 2px;
    bottom: 0;
    top: 16px;
    margin: auto;
    height: 3px;

}

.loading-text {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

@-webkit-keyframes pulse {
    0% {
        clip: rect(0, 0, 100px, 0);
        opacity: 0.4;
    }
    4% {
        clip: rect(0, 66.66667px, 100px, 0);
        opacity: 0.6;
    }
    15% {
        clip: rect(0, 133.33333px, 100px, 0);
        opacity: 0.8;
    }
    20% {
        clip: rect(0, 300px, 100px, 0);
        opacity: 1;
    }

    80% {
        clip: rect(0, 300px, 100px, 0);
        opacity: 0;
    }

    90% {
        clip: rect(0, 300px, 100px, 0);
        opacity: 0;
    }

    100% {
        clip: rect(0, 300px, 100px, 0);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        clip: rect(0, 0, 100px, 0);
    }
    4% {
        clip: rect(0, 66.66667px, 100px, 0);
    }
    15% {
        clip: rect(0, 133.33333px, 100px, 0);
    }
    20% {
        clip: rect(0, 300px, 100px, 0);
        opacity: 1;
    }

    80% {
        clip: rect(0, 300px, 100px, 0);
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        clip: rect(0, 300px, 100px, 0);
        opacity: 0;
    }

}

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
.slide-icon {
    position: absolute;
    z-index: 1;
    display: block;
    width: 60px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
    top: 50%;
    margin-top: -25px;
    text-align: center;
    padding: 0;
}

.slide-icon:before {
    display: block;
    line-height: 50px;
}

.slide-prev:hover,
.slide-prev:focus,
.slide-next:hover,
.slide-next:focus {
    outline: none !important;
}

.slide-prev {
    left: 0;
}

.slide-next {
    right: 0;
}

.slick-slide {
    outline: 0 !important;
}

.slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    filter: alpha(opacity=100);
    opacity: 1;
}

.slick-dots li button:before {
    content: "";
    background: transparent;
    border: 1px solid #333;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    text-align: center;
    filter: alpha(opacity=25);
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    filter: alpha(opacity=75);
    opacity: .75;
    color: black;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 2em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 15px 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 15px;
}

.breadcrumbs {
    font-size: 85%;
    padding: 5px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 30px;
}

.breadcrumbs ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.breadcrumbs ul li {
    display: inline;
}

.breadcrumbs ul .trail-item span {
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
}

.breadcrumbs ul .trail-item.trail-begin span {
    padding-left: 0;
}

.breadcrumbs ul li span:before {
    background: #cacaca;
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 0;
}

.breadcrumbs ul .trail-item.trail-begin span:before {
    content: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
    font-size: 16px;
    font-size: 1rem;
    width: 36em;
    max-width: 100%;
    padding: 2em;
    margin: 4rem auto 0;
}

.comments-title {
    color: #6f8590;
    margin: 0 0 2rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.comment-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.comment-list .comment-respond {
    margin-bottom: 1.6rem;
}

.comment > .children {
    padding-left: 1.6rem;
    list-style: none;
}

.comment-body {
    padding: 27.6px 1.6rem 1.6rem;
    border-radius: .25rem;
    background: #fff;
    margin-bottom: 1.6rem;
}

.comment-meta {
    margin-bottom: 1.6em;
}

.comment-author {
    font-size: 1rem;
    line-height: 1.25;
}

.comment-author .avatar {
    border-radius: 100%;
    margin-right: 8px;
    float: left;
    margin-top: -2px;
}

.says {
    display: none;
}

.comment-metadata {
    font-size: .75rem;
    margin-left: 48px;
}

.comment-metadata a {
    color: #6f8590;
}

.comment-metadata .edit-link {
    margin-left: .25rem;
}

.reply {
    display: inline-block;
    margin-top: 1.6rem;
    font-size: 12px;
    font-size: 0.75rem;
}

.reply a {
    color: #6f8590;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 768px) {
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .comment-form-author label,
    .comment-form-email label,
    .comment-form-url label {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-left: 1em;
    }
}

.required {
    color: #e7040f;
}

.no-comments {
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    color: #6f8590;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Social Icon
--------------------------------------------------------------*/
.social-icons ul li a:after,
.widget .social-widget-menu ul a:before {
    display: inline-block;
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social-icons ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.social-icons ul li {
    display: block;
    float: left;
}

.widget .social-widget-menu ul li {
    border: 0;
    display: inline-block;
}

.social-icons ul a {
    display: block;
    position: relative;
    text-align: center;
}

.social-icons ul a span {
    display: none;
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
}

.social-icons ul li a:after,
.widget .social-widget-menu ul a:before {
    vertical-align: middle;
    width: 50px;
    float: left;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
}

.social-icons ul li a:after,
.widget .social-widget-menu ul a:before {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
}

.footer-bottom .social-icons ul li a:after {
    border-radius: 100%;
    margin-right: 5px;
}

.widget .social-widget-menu ul li a {
    display: block;
    border: 0;
    position: relative;
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    z-index: 99;
    padding: 0;
}

.widget .social-widget-menu ul li:hover a,
.widget .social-widget-menu ul li:focus a {
    filter: alpha(opacity=85);
    opacity: .85;
}

.widget .social-widget-menu ul li a span {
    padding-left: 55px;
    font-size: 14px;
    text-transform: uppercase;
}

.social-icons ul a[href*="dribbble.com"]:after,
.widget .social-widget-menu ul a[href*="dribbble.com"]:before {
    content: "\e00d";
    background-color: #ea4c89;
}

.social-icons ul a[href*="facebook.com"]:after,
.widget .social-widget-menu ul a[href*="facebook.com"]:before {
    content: "\e00b";
    background-color: #3b5998;
}

.social-icons ul a[href*="twitter.com"]:after,
.widget .social-widget-menu ul a[href*="twitter.com"]:before {
    content: "\e009";
    background-color: #1da0f2;

}

.social-icons ul a[href*="linkedin.com"]:after,
.widget .social-widget-menu ul a[href*="linkedin.com"]:before {
    content: "\e60a";
    background-color: #0077b5;
}

.social-icons ul a[href*="instagram.com"]:after,
.widget .social-widget-menu ul a[href*="instagram.com"]:before {
    content: "\e609";
    background-color: #e1306c;
}

.social-icons ul a[href*="youtube.com"]:after,
.widget .social-widget-menu ul a[href*="youtube.com"]:before {
    content: "\e008";
    background-color: #d02020;
}

.social-icons ul a[href*="vk.com"]:after,
.widget .social-widget-menu ul a[href*="vk.com"]:before {
    content: "\e618";
    background-color: #4c75a3;
}

.social-icons ul a[href*="plus.google.com"]:after,
.widget .social-widget-menu ul a[href*="plus.google.com"]:before {
    content: "\e60d";
    background-color: #dc4c41;
}

.social-icons ul a[href*="pinterest.com"]:after,
.widget .social-widget-menu ul a[href*="pinterest.com"]:before {
    content: "\e60b";
    background-color: #bd081c;
}

.social-icons ul a[href*="tumblr.com"]:after,
.widget .social-widget-menu ul a[href*="tumblr.com"]:before {
    content: "\e00a";
    background-color: #35465c;
}

.social-icons ul a[href*="reddit.com"]:after,
.widget .social-widget-menu ul a[href*="reddit.com"]:before {
    content: "\e60e";
    background-color: #ff4500;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.main-slider .slick-item {
    background-color: #ececec;
}

.slide-icon,
.widget-title,
.widget .tab-header {
    background-color: #000;
    color: #fff;
}

.main-navigation,
.main-navigation .menu .menu-mobile li,
.main-navigation .menu .menu-mobile li .sub-menu,
.main-navigation .menu .menu-mobile li .children,
.widget ul li,
.widget ol li,
.breadcrumbs,
.posts-navigation,
.post-navigation,
.nav-links .page-numbers {
    border-color: #eee;
}

.col-row {
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.col-half {
    width: 50%;
}

.col-six {
    width: 60%;
}

.col-four {
    width: 40%;
}

.col-three {
    width: 33.33%;
}

@media only screen and (max-width: 991px) {
    #primary,
    #secondary,
    .col {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .col-row {
        margin-left: 0;
        margin-right: 0;
    }

}

@media only screen and (max-width: 640px) {
    .home .content-area .site-main,
    .archive .content-area .site-main {
        display: block;
    }
}

.footer-widget-area {
    padding-top: 20px;
}

.site-info {
    font-size: 14px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}

#scroll-up {
    position: fixed;
    z-index: 8000;
    bottom: 100px;
    right: -20px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    display: none;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#scroll-up .icons {
    font-size: 32px;
    vertical-align: middle;
    margin-left: 5px;
}

.site-title,
.site-description,
.site-info,
.widget-title,
.read-more,
#scroll-up {
    text-transform: uppercase;
}

.site-title {
    letter-spacing: 14px;
}

.site-description {
    letter-spacing: 8px;
}

.widget-title,
.site-info,
.read-more,
#scroll-up {
    letter-spacing: 2px;
}

.article-wrapper {
    background: #f2f2f2;
    height: 100%;
    padding: 0 30px 30px;
}

.single .article-wrapper {
    padding-top: 30px;
}

.post-thumbnail {
    display: block;
    margin-left: -30px;
    margin-right: -30px;
}

.article-wrapper .entry-title {
    padding-top: 25px;
    margin-bottom: 15px;
}

.read-more {
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
    margin: 15px auto;
    text-align: center;
}

.read-more,
.sticky .article-wrapper:before {
    background: #000;
    color: #fff;
}

.read-more:hover,
.read-more:focus {
    background: #848484;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    #scroll-up {
        bottom: 30px;
        right: 20px;
    }

    #scroll-up strong {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .data-bg-slide {
        margin-bottom: 0;
    }

    .slider-figcaption-main {
        position: relative;
        padding: 0;
    }

    .slider-wrapper {
        padding-bottom: 0;
    }

    .home .content-area .site-main article,
    .archive .content-area .site-main article {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 100%;
    }
}

.entry-meta {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
}

.entry-meta .cat-links {
    margin-left: 8px;
}

.entry-meta .posted-on {
    margin-right: 8px;
}

.entry-meta .tags-links {
    margin-right: 8px;
}

.entry-meta .byline {
    margin-left: 8px;
    margin-right: 8px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.author-info .profile-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.author-info .profile-image {
    height: 250px;
}

.author-info .profile-image:after {
    content: '';
    position: absolute;
    height: 55px;
    width: 130%;
    background: #fff;
    left: -5px;
    bottom: -12px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.author-info .author-details {
    text-align: center;
}

.author-info .author-social {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.author-info .author-social > a {
    border-radius: 100%;
    border: 1px solid;
    display: inline-block;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    margin: 0 4px;
    width: 40px;
}

.author-info .author-social .meta-icon {
    margin: 0 auto;
    padding: 0;
    font-size: 24px;
    line-height: 40px;
}

.edit-link a {
    background: #000;
    color: #fff;
    margin: 0 5px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;
}

.load-more-posts {
    text-align: center;
}

.load-more-posts .btn-link {
    display: inline-block;
    min-width: 300px;
    background: #000;
    color: #fff;
    padding: 15px 20px;
    margin: 15px auto;
    text-align: center;
}

.load-more-posts .btn-link:link,
.load-more-posts .btn-link:hover,
.load-more-posts .btn-link:focus,
.load-more-posts .btn-link:visited {
    background: #333;
}

.ajax-loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #fd5b66;
    display: none;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    vertical-align: middle;
    margin-top: -4px;
}

.ajax-loader-enabled {
    display: inline-block;
}

.btn-load-more:hover .ajax-loader,
.btn-load-more:focus .ajax-loader {
    border-top-color: #33363b;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sticky {
    display: block;
}

.sticky .article-wrapper:before {
    content: "\e031";
    display: inline-block;
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    transform: rotate(-45deg);
    font-size: 30px;
    padding: 10px;
    margin-top: -24px;
}